*.pyc
*.pyo
*.out
build
build-release
.vscode
lib 
# this would ignore the necessary mesa-vulkan-sim/src/gallium/drivers/nouveau/codegen/lib directory, add it back
!mesa-vulkan-sim/src/gallium/drivers/nouveau/codegen/lib
gpgpusimShaders
gpgpusimShaders copy
